--extra-index-url https://download.pytorch.org/whl/cpu
pydantic>=2.0.0
fastapi
uvicorn[standard]
python-dotenv
pyyaml
gymnasium==0.28.1
numpy==1.26.4
torch
shimmy>=0.2.1
stable-baselines3>=2.0.0
openai>=1.0.0
httpx>=0.24.0
anyio>=3.7.0
